
@{
    ViewData["Title"] = "ConfirmOrder";
}

<h1 class="display-4 bg-success text-light text-center">We received your order</h1>
<br />
<h2 class="bg-warning text-center p-3 text-light">You have successfully created the Order।  Please wait till product is delivered। Thanks for ordering </h2>

